<header class="header">
  <nav id="nav" class="header-nav">
    <label for="show-menu" class="show-menu">Menu</label>
    <input id="show-menu" type="checkbox" role="button">
    <div class="header-responsive-logo"><img src="<%= image_path('logo.png') %>" class="header-logo-img"></div>
    <div class="header-responsive-phone">
      <div class="icon-phone header-icon"> </div>
      <div class="header-list-item-phone">11 5643 7885</div>
    </div>
    <ul id="menu" class="header-list">
      <li class="header-logo-container"><a href="/"><img src="<%= image_path('logo.png') %>" class="header-logo-img"></a></li>
      <li class="header-list-item"><a href="/iprop-online" class="header-list-item-link">Iprop Online</a></li>
      <li class="header-list-item"><a href="/tasaciones" class="header-list-item-link">Tasaciones</a></li>
      <li class="header-list-item"><a href="/empresa" class="header-list-item-link">Empresa</a></li>
      <li class="header-list-item"><a href="/consultoria" class="header-list-item-link">Consultoría</a></li>
      <li class="header-list-item"><a href="/contacto" class="header-list-item-link">Contacto</a></li>
      <li class="header-list-item">
        <div class="icon-phone header-icon"> </div>
        <div class="header-list-item-phone">11 4776 7176      </div>
      </li>
    </ul>
  </nav>
</header>
<section class="novedades-inside">
  <h1 class="novedades-inside-title">Novedades</h1>
  <article class="novedades-inside-article">
    <header class="novedades-inside-header">
      <h4 class="novedades-inside-tag">VENTAS</h4>
      <h2 class="novedades-inside-header-title">Global Resorts Network Grn Putting Timeshares To Shame</h2>
      <p class="novedades-inside-date"> <span class="icon-clock"> </span>Diciembre 06, 1025</p>
    </header>
    <div class="novedades-inside-img-container"><img src="<%= image_path('article1-inside.png') %>" class="novedades-inside-img"></div>
    <p class="novedades-inside-copy">People are wanting to fly to international destinations for vacations but planning a holiday getaway can easily turn into a stressful venture when the matter of costs comes up. However, airfare can be very expensive. Air fare by itself can kill the excitement. And when people already factor in accommodations, food, and shopping, or any other would just give up and stay home.If you think on taking a vacation that requires any sort of wide planning, such as out of the country or worldwide even to a popular destination in a different state, it is probably going to be necessary for you to enlist the services of a travel agency.</p>
    <p class="novedades-inside-copy">Try to find out which travel agency you are considering is helpful with. Agencies with more extensive (think global) affiliations are more likely to be able to get you lower prices and added favors for your vacations. Keep in mind, however, that just because they are affiliated with a large group does not mean that the agency itself has to be bigger. Common knowledge would suggest that the bigger the agency, the easier it is to negotiate lower prices. </p>
    <p class="novedades-inside-copy">At last, ask for references from the agency of both clients and dealers. Clients of course, are people like your self who have used the agency’s services to visit on vacations earlier. Dealers are the people with whom the agency deals in order to purchase items such as hotel rooms and airline tickets, and will often have a clearer thought of how the agency operates and where or not they can do all that they claim as far as cost cutting and favors. So, how does lower cost or cheap air travel works exactly simple a solution.Tavelhouseuk provide cheap airline tickets for last minute travel within Europe , Africa Canada , Hawaii, Asia , Mexico , South Pacific and South Central America.Over 24 year of experience in last minute cheap provide travel industry brings you the best possible discount available for all your travel, like weather traveling on Coach (Economy class), First class or Biz (Business class). No Advance Purchase Required on the most Fares.Buy online and save up to 45% on all your Last Minute Domestic air travel. We provide Consolidator fares with up to 70% savings on airline tickets for cheap international flights, generally the best overseas travel bargain available.Plan your Air Travel with Confidence Travelhouseuk guarantees Low Prices.</p>
  </article>
  <aside class="novedades-aside">
    <h3 class="novedades-aside-title">Más novedades</h3>
    <div class="novedades-aside-item-wrap">
      <div class="novedades-aside-item">
        <h4 class="novedades-aside-item-title">Global Resorts Network Grn Putting Timeshares To Shame</h4>
        <p class="novedades-aside-item-date"> <span class="icon-clock"> </span>Diciembre 06, 1025</p>
      </div>
      <div class="novedades-aside-item">
        <h4 class="novedades-aside-item-title">Global Resorts Network Grn Putting Timeshares To Shame</h4>
        <p class="novedades-aside-item-date"> <span class="icon-clock"> </span>Diciembre 06, 1025</p>
      </div>
      <div class="novedades-aside-item">
        <h4 class="novedades-aside-item-title">Global Resorts Network Grn Putting Timeshares To Shame</h4>
        <p class="novedades-aside-item-date"> <span class="icon-clock"> </span>Diciembre 06, 1025</p>
      </div>
      <div class="novedades-aside-item">
        <h4 class="novedades-aside-item-title">Global Resorts Network Grn Putting Timeshares To Shame</h4>
        <p class="novedades-aside-item-date"> <span class="icon-clock"> </span>Diciembre 06, 1025</p>
      </div>
      <div class="novedades-aside-item">
        <h4 class="novedades-aside-item-title">Global Resorts Network Grn Putting Timeshares To Shame</h4>
        <p class="novedades-aside-item-date"> <span class="icon-clock"> </span>Diciembre 06, 1025</p>
      </div>
      <div class="novedades-aside-item">
        <h4 class="novedades-aside-item-title">Global Resorts Network Grn Putting Timeshares To Shame</h4>
        <p class="novedades-aside-item-date"> <span class="icon-clock"> </span>Diciembre 06, 1025</p>
      </div>
    </div>
  </aside>
</section>
<novedades-inside-aside class="jade"></novedades-inside-aside>
<section class="compartir"> 
  <h2 class="compartir-title">Compartir en redes sociales</h2>
  <div class="compartir-redes">
    <div class="compartir-redes-fb"><span class="icon-facebook m-r-5"></span></div>
    <div class="compartir-redes-twitter"><span class="icon-twitter m-r-5"></span></div>
    <div class="compartir-redes-google"><span class="icon-google m-r-5"></span></div>
    <div class="compartir-redes-linkedin"><span class="icon-linkedin m-r-5"></span></div>
  </div>
</section>
<footer class="footer">
  <div class="footer-column2 m-r-5">
    <ul class="footer-list">
      <li class="footer-item"> 
        <div class="footer-item-icon icon-phone"> </div>
        <p class="footer-item-text">(11) 4776‐7176</p>
      </li>
      <li class="footer-item"> 
        <div class="footer-item-icon icon-envelope"> </div>
        <p class="footer-item-text">info@iproponline.com.ar</p>
      </li>
      <li class="footer-item"> 
        <div class="footer-item-icon icon-location"></div>
        <p class="footer-item-text">Teodoro García 1721<br>Of. 704 (C1426DMC) <br>C.A.B.A.</p>
      </li>
    </ul>
  </div>
  <div class="footer-column1 m-r-5">
    <p class="footer-contact">Iprop es una marca registrada de Nestor H. Royo </p>
    <p class="footer-contact">Nestor H. Royo – Matrícula N°</p>
    <div class="footer-img-cuci"><img src="<%= image_path('cucicba.png') %>" class="footer-img"></div>
  </div>
  <div class="footer-column1">
    <div class="footer-img-qr"><a href="http://qr.afip.gob.ar/?qr=5JvULkrJij4qBY0ljYW3NA,," target="_F960AFIPInfo"><img src="http://www.afip.gob.ar/images/f960/DATAWEB.jpg" border="0" width="100px" margin-top="19px"></a></div>
  </div>
</footer>
<div class="footer-copyright">
  <p> © Nestor H. Royo 2016</p>
</div>