<html>
 <head>
   <title>Iproponline</title>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 </head>
 <body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
    <p>Hola, Te quería compartir esta propiedad en iprop:</p>

    <a href="<%= @message.url %>"><%= @message.url %></a>

    <p>Espero que te interese.</p>

   <table id="Table_01" width="300" height="115" border="0" cellpadding="0" cellspacing="0">
     <tr>
       <td>
         <img src="https://s3-us-west-2.amazonaws.com/iprop-images/emails/iproponline.png" width="93" height="45" alt=""></td>
     </tr>
     <tr>
       <td style="padding-top:10px">
         <div style="font-family:arial, helvetica, sans-serif; line-height:140%; font-size:14px; margin-bottom:3px;">(11) 4776‐7176</div>
         <div style="font-family:arial, helvetica, sans-serif; line-height:140%; font-size:14px; margin-bottom:3px;"> info@iproponline.com.ar</div>
         <div style="font-family:arial, helvetica, sans-serif; line-height:140%; font-size:14px; margin-bottom:3px;">Teodoro García 1721 </br>Of. 704 (C1426DMC) C.A.B.A.</div>
       </td>
     </tr>
     <tr>
       <td>
         <hr style="margin: 5px 0; max-width:192;">
                    <div><a href="http://iproponline.com.ar" style="text-decoration:none; font-family:arial, helvetica, sans-serif; line-height:140%; font-size:14px">www.iproponline.com.ar</a></div> 
     </tr>
   </table>
   
 </body>
</html>