@import 'icos.css';
.m-r-1em {
  margin-right: 1em;
}
.m-r-2em {
  margin-right: 2em;
}
.m-r-6em {
  margin-right: 6em !important;
}
.m-l-24-4em {
  margin-left: 24.4em;
}
.m-r-5 {
  margin-right: 5px;
}
.m-l-10 {
  margin-left: 10px;
}
.volver-button {
  margin: 35px auto;
  position: relative;
  background: #ff191f;
  color: #fff;
  border: 0;
  padding: 15px 30px;
  border-radius: 5px;
  text-transform: uppercase;
  display: block;
  width: 110px;
}
.volver-button:hover {
  text-decoration: none !important;
  color: #fff !important;
}
.cycle-slideshow {
  z-index: 2;
}
.header {
  background: #2b2a2b;
  color: #fff;
}
.header-nav {
  width: 100%;
}
.header-logo-container {
  display: inline-block;
  width: 100px;
  vertical-align: middle;
  padding: 0.2em 0 0.2em 1em;
  -webkit-box-flex: 4;
  -webkit-flex-grow: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
}
.header-logo-img {
  width: 100%;
  max-width: 100px;
}
.header-list {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  -webkit-flex-wrap: row nowrap;
      -ms-flex-wrap: row nowrap;
          flex-wrap: row nowrap;
}
.header-list-item {
  display: inline-block;
  padding-top: 1em;
  text-align: left;
  text-transform: uppercase;
  font-size: 0.85em;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.header-list-item-link {
  color: #fff;
  font-weight: 300;
}
.header-list-item-phone {
  display: inline-block;
  padding-right: 1.5em;
}
/*.header-list-item:last-child {
  border-left: 1px solid #6b6161;
  padding-left: 1.5em;
}*/
.header-icon {
  vertical-align: top;
  display: inline-block;
  font-size: 1.2em;
  padding-right: 0.2em;
}
.photo-slider {
  width: 100%;
  text-align: center;
  background: url("puerto-madero.jpg");
  background-repeat: no-repeat;
  position: relative;
}
.photo-slider-propiedades {
  overflow: hidden;
  height: 300px;
}
.photo-slider-propiedades-img {
  width: 100%;
  margin-top: -110px;
}
.photo-slider-img {
  width: 100%;
}
.photo-slider-slogan {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  margin: 0 auto;
  left: 0;
  right: 0;
}
.photo-slider-slogan-propiedades {
  top: 6em;
}
.photo-slider-slogan-title {
  color: #fff;
}
.photo-slider-slogan-title-propiedades {
  font-size: 3em;
  color: #fff;
}
.overlay-darken {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9;
  background-color: #4b4b4b;
  opacity: 0.3;
}
.propiedades-buscador {
  width: 90%;
  right: 0;
  left: 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.propiedades-buscador-container {
  position: relative;
  padding: 1em 0;
}
.buscador {
  position: absolute;
  top: 16em;
  z-index: 10;
  right: 0;
  left: 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  padding: 0 2em;
}
.buscador-select {
  background-image: url("triangle.png");
  background-repeat: no-repeat;
  background-position: right;
  background-color: rgba(255,255,255,1);
  border: none;
  border-radius: 0px;
  -webkit-appearance: none;
  padding: 0.8em 1em 0.8em 0.5em;
  color: #5f5f5f;
  outline: none;
  cursor: pointer;
  margin: auto 0.25em;
  background-size: 25px;
  border: 1.5px solid #7b7b7b;
}
.buscador-select-01 {
  padding-right: 2.4em;
  min-width: 180px;
 }
.buscador-input {
  padding: 0.8em 1.8em 0.8em 0.5em;
  background-color: rgba(255,255,255,1);
  border: none;
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  margin: 0 0.25em;
  outline: none;
  border: 1.5px solid #7b7b7b;
}
.buscador-button {
  position: relative;
  background: #ff191f;
  color: #fff;
  border: 0;
  padding: 0.8em 1.8em 0.8em 0.5em;
  vertical-align: bottom;
  text-transform: uppercase;
  vertical-align: middle;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: auto 0.25em;
}
.buscador-icon {
  margin-right: 0.5em;
  top: 30%;
  font-size: 1.2em;
}
.features-main {
  width: 100%;
  color: #262626;
  text-align: center;
}
.features-main-title {
  font-size: 1.5em;
  font-weight: 400;
  margin: 1em auto 0.8em;
  padding: 0 2em;
}
.features-main-copy {
  font-weight: 400;
  margin: 0 auto 2em;
  padding: 0 8em;
}
.features-item-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  text-align: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-content: space-between;
      -ms-flex-line-pack: justify;
          align-content: space-between;
  margin-bottom: 3.5em;
}
.features-item {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: 1px solid #e5e5e5;
  padding: 3em 1em;
}
.features-item-title {
  font-size: 1.3em;
  color: #4a4a4a;
  text-transform: uppercase;
  margin-bottom: 0;
}
.features-item-copy {
  max-width: 300px;
  margin: 0.5em auto 2em;
  color: #5f5e5c;
}
.features-item-link {
  color: #ff191f;
  border: 1px solid #ff191f;
  border-radius: 3px;
  font-weight: bold;
  padding: 0.5em 1.5em;
}
.features-item-link:hover {
  background: #ff191f;
  color: #fff;
}
.destacadas-title {
  font-size: 1.6em;
  color: #9b9b9b;
  text-transform: uppercase;
  margin: 1em 1em 0;
}
.destacadas-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-align-content: space-between;
      -ms-flex-line-pack: justify;
          align-content: space-between;
  margin: 0 1em;
}
.destacadas-vacio{
  font-size: 1.5em;
  color: #9b9b9b;
  text-transform: uppercase;
  margin: 30px 0;
}
.destacadas-item {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 1px solid #e5e5e5;
  display: inline-block;
  margin: 0.5em;
  position: relative;
}
.destacadas-item-info {
  padding: 0 1.5em;
  max-width: 330px;
  margin: 0 auto;
}
.destacadas-item-title {
  font-size: 0.8em;
  color: #4a4a4a;
  margin-bottom: 0;
}
.destacadas-item-subtitle {
  color: #4a4a4a;
  font-weight: 200;
  margin: 0;
}
.destacadas-item-copy {
  color: #9b9b9b;
  margin-top: 0.3em;
  word-wrap: break-word;
}
.destacadas-item-link {
  font-size: 1em;
  color: #4a90e2;
  text-align: center;
  display: block;
  border-top: 1px solid #e5e5e5;
  padding: 0.3em;
}
.destacadas-img {
  width: 100%;
  height: 100%;
  background-size: cover;
}
.destacadas-img-container {
  width: 378px;
  height: 261px;
  font-size: 0;
  overflow: hidden;
  background: #000;
}
.destacadas-video {
  width: 378px;
}
.destacadas-video-play {
  text-align: center;
}
.destacadas-video-play-img {
  margin: 80px auto;
}
.destacadas-video-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 378px;
  height: 261px;
  font-size: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
}
.destacadas-video-price {
  color: #fff;
  background: #4a90e2;
  display: inline-block;
  position: absolute;
  right: 0em;
  bottom: .5em;
  padding: 0.1em 0.3em;
  font-size: 1.2em;
}
.destacadas-price {
  color: #fff;
  background: #4a90e2;
  display: inline-block;
  position: absolute;
  right: 0em;
  top: 45%;
  padding: 0.1em 0.3em;
  font-size: 1.2em;
}
.destacadas-state {
  color: #fff;
  background: rgba(74,74,74,0.7);
  display: inline-block;
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  padding: 0.3em;
  font-size: 0.9em;
}
.destacadas-video-overlay {
  top: 0;
  height: 261px;
  right: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  position: absolute;
  cursor: pointer;
  z-index: 10;
}
.overlay-vendido {
  position: absolute;
  left: 198px;
}
.novedades {
  margin-bottom: 2em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.novedades-in,
.novedades-videos {
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}
.novedades-title {
  font-size: 1.6em;
  color: #9b9b9b;
  text-transform: uppercase;
  margin: 1em 1em 0;
  text-align: left;
}
.novedades-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  margin: 0 1em;
}
.novedades-item {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: inline-block;
  position: relative;
  background: #eee;
  max-width: 280px;
  margin-top: 1.5em;
}
.novedades-item-copy {
  max-width: 230px;
  color: #9b9b9b;
  padding: 0 1em;
  margin: 0.8em auto;
}
.novedades-item-overlay {
  background: rgba(38,38,38,0.86);
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
}
.novedades-item-overlay:hover {
  opacity: 1;
  cursor: pointer;
}
.novedades-item-mas {
  color: #fff;
  font-size: 3rem;
  display: block;
  line-height: 323px;
}
.novedades-img {
  width: 100%;
  height: 100%;
  background-size: cover;
}
.novedades-img-container {
  width: 280px;
  height: 250px;
  overflow: hidden;
  font-size: 0;
}
.novedades-video {
  height: 250px;
}
.compartir {
  text-align: center;
  margin-bottom: 2em;
  margin-top: 1em;
}
.compartir-title {
  font-size: 1.6em;
  color: #9b9b9b;
  text-transform: uppercase;
  margin: 1em 1em 0;
  text-align: center;
}
.compartir-redes-fb,
.compartir-redes-twitter,
.compartir-redes-google,
.compartir-redes-youtube,
.compartir-redes-linkedin,
.compartir-redes-instagram {
  padding: 0.5em;
  display: inline-block;
  font-size: 2em;
  color: #4a4a4a;
  text-decoration: none !important;
  vertical-align: top;
}
.compartir-redes-fb:hover {
  color: #43609c;
}
.compartir-redes-twitter:hover {
  color: #57adee;
}
.compartir-redes-google:hover {
  color: #d92a14;
}
svg:hover #facebook {
  fill: #f00;
}
.empresa-cover {
  background: url("empresa.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.empresa-cover-title {
  color: #fff;
  padding: 4em;
  margin: 0 auto;
}
.empresa-text {
  margin: 0 auto 1em;
  padding: 2em 2em 1em;
  max-width: 750px;
}
.empresa-text-paragraph {
  font-size: 1.1em;
  max-width: 800px;
  margin: 2em auto;
}
.empresa-text-paragraph-box {
  text-align: left;
  display: inline-block;
}
.empresa-text-destacado {
  font-size: 1.1em;
  padding: 1em 2em 1em 2em;
}
.empresa-text-destacado-wrap {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.empresa-text-destacado-casa,
.empresa-text-destacado-escucha {
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 200px;
}
.empresa-text-destacado-casa {
  background-image: url("manos-casa.jpg");
  background-position-y: 30%;
}
.empresa-text-destacado-escucha {
  background-image: url("escuchar.jpg");
  background-position-y: 35%;
}
.empresa-text-list {
  list-style: none;
  margin-bottom: none;
}
.empresa-text-list-item {
  background: url("checking.png") no-repeat left 12px;
  padding-left: 2em;
  padding-bottom: 0.5em;
}
.empresa-mvv {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  justify-contetn: space-around;
  padding: 0 4em;
  margin-bottom: 3em;
}
.empresa-mvv-item {
  -webkit-flex-basis: 33%;
      -ms-flex-preferred-size: 33%;
          flex-basis: 33%;
  text-align: center;
}
.empresa-mvv-copy {
  padding: 0 2em;
}
.empresa-mvv-img {
  width: 100%;
}
.empresa-mvv-img-container {
  padding: 0 3em;
}
.pager {
  text-align: center;
}
.pager-list {
  list-style: none;
  padding: 0;
}
.pagination > .first,
.pagination > .last{
  display: none;
}
.pagination > .prev,
.pagination > .next{
  display: inline-block;
  border: 1px solid #4a90e2;
  color: #4a90e2;
}
.pagination > .first > a,
.pagination > .prev > a,
.pagination > .next > a,
.pagination > .last > a{
  display: block;
  padding: 0.5em 1em;
  color: #4a90e2;
}
.page {
  display: inline-block;
  border: 1px solid #4a90e2;
  color: #4a90e2;
}
.pagination .current{
  padding: 0.5em 1em;
  color: #fff;
  background-color: #4a90e2;
}
.pagination > .page > a{
  display: block;
  padding: 0.5em 1em;
  color: #4a90e2;
}
.tasaciones {
  background-image: url("buenos-aires-aerea.jpg");
  background-size: cover;
  background-repeat: no background-repeat;
  text-align: center;
  padding: 5em 0;
}
.tasaciones-title {
  width: 60%;
  color: #fff;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  font-size: 2.2em;
}
.tasaciones-form {
  padding: 1em 1.5em;
  font-size: 0.8em;
  color: #6a6a6a;
  text-align: center;
  background: #f1f1f1;
}
.asterisks{
  color: red;
  margin-right: 5px;
  font-size: 12pt;
}
.tasaciones-form-left,
.tasaciones-form-right {
  width: 42%;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
.tasaciones-form-left {
  margin: 2%;
}
.g-recaptcha > div{
  margin: 15px auto 0;
}
.tasaciones-form-input {
  background: #fff;
  display: block;
  border: none;
  border-radius: 4px;
  font-size: 1.1em;
  padding: 0.4em;
  margin-top: 0.2em;
  width: 98%;
}
.tasaciones-form-button {
  background-color: #ff191f;
  border: none;
  padding: 0.68em 0.5em;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 700;
  display: block;
  width: 100%;
  margin-top: 1em;
  font-size: 1.3em;
  color: #fff;
}
.tasaciones-form-button > i{
  font-size: 15pt;
}
.tasaciones-form-textarea {
  height: 14em;
 }
.tasaciones-form-group {
  display: inline-block;
  margin-bottom: 1.1em;
  width: 48.3%;
}
.tasaciones-form-group-input {
  background: #fff;
  display: block;
  border: none;
  border-radius: 4px;
  font-size: 1.1em;
  padding: 0.4em;
  margin-top: 0.2em;
  width: 95%;
}
.tasaciones-form-group-button {
  background-color: #ff191f;
  border: none;
  padding: 0.5em;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 1em;
  font-size: 1.3em;
}
.tasaciones-text {
  max-width: 750px;
  margin: 1em auto 1em;
  padding: 1em 2em 1em;
}
.tasaciones-text-paragraph {
  font-size: 1.1em;
}
.tasaciones-text-destacado {
  font-weight: 800;
  font-size: 1.5em;
  color: #6a6a6a;
}
.tasaciones-text-orange {
  color: #ff191f;
}
.tasaciones-valores {
  margin: 0 auto;
  text-align: center;
}
.tasaciones-valores-img {
  width: 100%;
}
.tasaciones-valores-img-container {
  margin: 0 auto;
  width: 80%;
}
.tasaciones-valores-button {
  bottom: 0;
  background: rgba(0,0,0,0.8);
  color: #fff;
  padding: 0.5em 1em;
  text-transform: uppercase;
  display: inline-block;
  border: none;
}
.re {
  background: url("img_realconsulting.jpg");
  background-repeat: no-repeat;
  padding-top: 20em;
}
.re-sign {
  background: #fff;
  border-top: 4px solid #1563be;
  padding: 1em 3em 0 1.5em;
  width: 250px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 2em;
}
.re-sign-title {
  font-size: 2em;
  text-transform: uppercase;
}
.re-sign-subtitle {
  font-size: 1.5em;
  color: #0056b9;
}
.mision {
  background: #ededed;
  margin: 2em;
}
.mision-header {
  color: #fff;
  padding: 0.5em 0.5em 0.5em 1.5em;
  background: #db3800;
  border-top: 15px solid #c4c4c4;
}
.mision-title {
  font-size: 1.2em;
  font-weight: 400;
  margin: 0;
}
.mision-data {
  padding: 1em 2em;
}
.mision-data-img {
  width: 100%;
}
.mision-data-img-container {
  display: inline-block;
  vertical-align: top;
  padding-top: 1em;
  width: 45%;
}
.mision-data-copy {
  display: inline-block;
  padding-left: 3em;
  width: 47%;
  vertical-align: middle;
}
.mision-data-copete {
  font-weight: 400;
  color: #1563be;
  font-size: 1.4em;
  margin-bottom: 0;
  margin-top: 0.8em;
}
.mision-data-title {
  max-width: 450px;
  font-size: 1.5em;
}
.mision-data-text,
.mision-details-text {
  color: #8a8988;
  max-width: 620px;
  font-size: 1.12em;
}
.mision-details {
  padding-right: 2em;
}
.mision-details-item {
  border-bottom: 1px solid #bebebe;
  display: inline-block;
  width: 45%;
  padding-left: 3em;
}
.mision-details-title {
  color: #1563be;
  font-weight: 400;
}
.mision-details-number {
  font-weight: 700;
  padding-right: 1em;
}
.mision-details-text {
  padding-right: 1em;
}
.team {
  background: url("img_team.jpg");
  background-repeat: no-repeat;
  padding-top: 20em;
}
.team-sign {
  background: #fff;
  border-top: 4px solid #1563be;
  padding: 1em 4em 0 1.5em;
  width: 220px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 2em;
}
.team-sign-title {
  font-size: 2em;
  text-transform: uppercase;
}
.team-sign-subtitle {
  font-size: 1.5em;
  color: #0056b9;
}
.equipo {
  background: #ededed;
  margin: 2em;
}
.equipo-header {
  color: #fff;
  padding: 0.5em 0.5em 0.5em 1.5em;
  background: #db3800;
  border-top: 15px solid #c4c4c4;
}
.equipo-title {
  font-size: 1.2em;
  font-weight: 400;
  margin: 0;
}
.equipo-data {
  padding: 1em 2em;
}
.equipo-data-img-container {
  display: inline-block;
  vertical-align: top;
  padding-top: 1em;
}
.equipo-data-copy {
  display: inline-block;
  padding-left: 3em;
  max-width: 53%;
}
.equipo-data-title {
  max-width: 450px;
  font-size: 1.5em;
}
.equipo-data-text {
  color: #8a8988;
  max-width: 620px;
  font-size: 1.12em;
}
.equipo-member {
  margin: 0 0 0 2em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 96%;
}
.equipo-member-wrap {
  background: #e1e5ea;
  padding: 1em;
  margin-bottom: 1%;
  margin-right: 1%;
  -webkit-flex-basis: 46%;
      -ms-flex-preferred-size: 46%;
          flex-basis: 46%;
  min-width: 406px;
}
.equipo-member-img {
  border: 2px solid #c8c9cb;
}
.equipo-member-img-container {
  display: inline-block;
}
.equipo-member-info {
  display: inline-block;
  margin-left: 1em;
}
.equipo-member-title {
  text-transform: uppercase;
  margin: 0;
}
.equipo-member-subtitle {
  margin-top: 0;
}
.equipo-member-contact {
  color: #605e5c;
}
.residenciales {
  background: url("img_residenciales.jpg");
  background-repeat: no-repeat;
  padding-top: 18em;
}
.residenciales-sign {
  background: #fff;
  border-top: 4px solid #1563be;
  padding: 1em 3em 0.8em 1.5em;
  width: 250px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 2em;
}
.residenciales-sign-title {
  font-size: 2em;
  text-transform: uppercase;
}
.residenciales-sign-subtitle {
  font-size: 1.5em;
  color: #0056b9;
}
.servdis {
  background: #ededed;
  margin: 2em;
}
.servdis-header {
  color: #fff;
  padding: 0.5em 0.5em 0.5em 1.5em;
  background: #db3800;
  border-top: 15px solid #c4c4c4;
}
.servdis-title {
  font-size: 1.2em;
  font-weight: 400;
  margin: 0;
}
.servdis-data {
  padding: 1em 2em;
}
.servdis-data-img {
  width: 100%;
}
.servdis-data-img-container {
  display: inline-block;
  vertical-align: top;
  padding-top: 1em;
  width: 48%;
  padding-right: 2em;
}
.servdis-data-item {
  display: inline-block;
  width: 48%;
}
.servdis-data-number {
  font-weight: 400;
  color: #1563be;
  font-size: 3em;
  display: inline-block;
  vertical-align: middle;
  margin: 0.3em 0.3em 0.3em 0;
}
.servdis-data-title {
  max-width: 450px;
  font-size: 1.3em;
  display: inline-block;
  vertical-align: middle;
}
.servdis-data-text {
  border-top: 1px solid #df5c2f;
  color: #8a8988;
  max-width: 620px;
  font-size: 1.12em;
  margin-top: 0;
  padding-top: 1em;
}
.filtros {
  background: #f2f2f2;
  padding: 2em 4em;
}
.filtros-logo-container {
  display: inline-block;
  width: 8%;
  vertical-align: top;
  margin-top: 1em;
}
.filtros-logo {
  max-width: 62px;
  width: 100%;
}
.filtros-content {
  width: 91%;
  display: inline-block;
}
.filtros-title {
  font-weight: 400;
  font-size: 1.1em;
  max-width: 720px;
}
.filtros-subtitle {
  text-transform: uppercase;
  color: #cb3f0e;
  font-size: 0.8em;
}
.filtros-select {
  background: url("dropdown.png") no-repeat right;
  background-color: #e6e6e6;
  color: #0056b9;
  text-transform: uppercase;
  border: none;
  border-radius: 0px;
  -webkit-appearance: none;
  padding: 1em 1.8em 1em 0.5em;
  margin: 0.5em;
  font-size: 0.8em;
}
.filtros-search-bar {
  background: #e6e6e6;
  border: none;
  padding: 1em;
  width: 50%;
  margin: 0.5em;
  font-size: 0.8em;
}
.filtros-search-button {
  background: #e6e6e6;
  color: #0056b9;
  border: none;
  text-transform: uppercase;
  padding: 1em;
  font-size: 0.8em;
  margin: 0.5em;
}
.results-container {
  margin: 2em 6em;
  position: relative;
}
.results-container-title {
  font-weight: 400;
  margin-bottom: 0;
}
.results-container-subtitle {
  font-weight: 400;
  margin-top: 0;
}
.results-container-filtros {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5em;
}
.results-container-filtros-icons {
  color: #0056b9;
  background: #e5e5e5;
  font-size: 1.5em;
  width: 40px;
  text-align: center;
  padding: 0.2em 0;
  display: inline-block;
}
.results-container-filtros-icons-wrap {
  position: absolute;
  right: 0.5em;
  top: 4em;
}
.results-container-label {
  font-weight: 700;
}
.results-card {
  position: relative;
  border: 1px solid #dadada;
  margin-bottom: 1em;
}
.results-card-img {
  width: 100%;
}
.results-card-img-container {
  position: relative;
  width: 30%;
  display: inline-block;
  margin-right: 1em;
}
.results-card-img-photos {
  position: absolute;
  bottom: 1em;
  right: 0.5em;
  background: rgba(0,0,0,0.8);
  color: #fff;
  font-size: 0.8em;
  padding: 0.5em;
  border-radius: 3px;
}
.results-card-data {
  display: inline-block;
  vertical-align: top;
}
.results-card-title {
  margin-bottom: 0;
  font-size: 1.25em;
}
.results-card-direccion {
  margin-top: 0;
  margin-bottom: 0;
}
.results-card-localidad {
  margin-top: 0;
}
.results-card-price {
  font-size: 1.5em;
  margin-bottom: 0;
  margin-top: 0.8em;
}
.results-card-state {
  margin-top: 0;
}
.results-card-btn {
  background: #d92228;
  color: #fff;
  border: none;
  position: absolute;
  bottom: 1em;
  right: 1em;
  padding: 0.5em 1em;
  border-radius: 2px;
  text-align: center;
}
.results-card-fav {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  color: #969696;
  font-size: 2em;
}
.ficha {
  position: relative;
}
.ficha-header {
  margin: 3em 6em 1em;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.ficha-header-wrap {
  -webkit-box-flex: 5;
  -webkit-flex-grow: 5;
  -ms-flex-positive: 5;
  flex-grow: 5;
}
.ficha-header-state {
  background: #ff191f;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  padding: 0 0.5em;
  margin: 0;
}
.ficha-header-title {
  margin: 0;
  font-size: 2em;
}
.ficha-header-direccion {
  margin: 0;
}
.ficha-header-price {
  font-size: 2em;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.ficha-tags {
  margin-bottom: 1em;
  margin-left: 6em;
}
.ficha-tags-icon {
  display: inline-block;
  vertical-align: middle;
}
.ficha-tags-item {
  display: inline-block;
  background: #d6d6d6;
  margin: 0 1em;
  font-size: 0.8em;
  font-weight: 400;
  border-radius: 1px;
  border-right: 2px solid #ff191f;
}
.ficha-tags-item button{
  border: none;
  background-color: transparent;
  outline: none;
  padding: 0.4em 1em;
}
.ficha-slider {
  background: #2b2a2b;
  min-height: 500px;
  overflow: hidden;
}
.ficha-slider-wrap {
  margin: 0 12em;
  position: relative;
  max-height: 600px;
  overflow: hidden;
  display: block;
  height: 600px;
  background: #2b2a2b;
}
.ficha-slider-controls {
  position: absolute;
  z-index: 10;
  line-height: 550px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.ficha-slider-controls-prev {
  margin-left: 1em;
  cursor: pointer;
}
.ficha-slider-controls-next {
  margin-right: 1em;
  cursor: pointer;
}
.ficha-slider-img {
  width: auto;
  max-height: 100%;
  margin: 0 auto;
  right: 0;
  height: 600px;
}
.ficha-acciones {
  position: absolute;
  right: 12em;
  margin-top: 2em;
}
.ficha-acciones-compartir,
.ficha-acciones-imprimir {
  bottom: 0;
  background: rgba(0,0,0,0.8);
  color: #fff;
  padding: 0.5em 1em;
  text-transform: uppercase;
  display: inline-block;
  border: none;
}
.ficha-acciones-compartir:hover,
.ficha-acciones-imprimir:hover {
  opacity: 0.5;
}
.ficha-acciones-imprimir:focus{
  outline: none;
}
.ficha-descripcion {
  padding: 0 6em;
}
.ficha-descripcion-title {
  font-size: 1.6em;
  color: #5e5c5c;
  text-transform: uppercase;
  margin: 1em 0 0;
}
.ficha-descripcion-short {
  margin-top: 0;
  color: #5e5c5c;
}
.ficha-descripcion-copy {
  color: #5e5c5c;
  border-left: 1px solid #5e5c5c;
  margin-left: 4em;
  padding-left: 2em;
  padding-right: 4em;
  word-wrap: break-word;
}
.ficha-caracteristicas {
  padding: 0 6em;
}
.ficha-caracteristicas-title {
  font-size: 1.6em;
  color: #5e5c5c;
  text-transform: uppercase;
  margin: 1em 0 0;
}
.ficha-caracteristicas-lists {
  border-left: 1px solid #5e5c5c;
  margin-left: 4em;
  padding-left: 2em;
  color: #5e5c5c;
  margin-top: 1em;
}
.caracteristicas-list {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}
.ficha-planos {
  padding: 0 6em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.ficha-planos-box {
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}
.ficha-planos-title {
  font-size: 1.6em;
  color: #5e5c5c;
  text-transform: uppercase;
  margin: 1em 0 0;
  padding-right: 1em;
}
.ficha-planos-img-container {
  margin-top: 1em;
  margin-bottom: 2em;
  width: 100%;
}
.ficha-planos-img {
  width: 100%;
}
.ficha-video {
  margin-top: 1em;
  margin-bottom: 2em;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.ficha-video-title {
  font-size: 1.6em;
  color: #5e5c5c;
  text-transform: uppercase;
  margin: 1em 0 0;
}
.ficha-video-box {
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}
.ficha-video-iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.ficha-mapa {
  width: 70%;
  display: inline-block;
  margin-left: -5px;
  box-sizing: border-box;
}
.ficha-street {
  font-size: 0;
  display: inline-block;
  vertical-align: bottom;
  width: 100%;
}
#street-view {
  height: 300px;
  width: 100%;
}
#street-view,
#map {
  width: 100%;
  height: 480px;
}
.ficha-contacto {
  width: 100%;
  box-sizing: border-box;
}
.ficha-contacto-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 480px;
}
.ficha-contacto-form {
  padding: 2em 3em;
  width: 30%;
  background-color: #e6e6e6;
  display: inline-block;
  font-size: 0.8em;
 }
.consulting-cover {
  background: url("img_consulting.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-position: center;
}
.consulting-cover-title {
  color: #fff;
  padding: 4em;
  margin: 0 auto;
}
.consulting-content {
  color: #222;
  padding: 0 2em;
  margin: 0 auto;
}
.consulting-line {
  width: 50%;
  margin: 0 auto 2em;
}
.consulting-title {
  margin: 0 auto;
  padding: 2em 2em 1em;
  max-width: 750px;
  color: #222;
  text-align: center;
}
.consulting-text {
  margin: 0 auto 1em;
  padding: 2em 2em 1em;
}
.consulting-text-wrap {
  width: 60%;
  margin: 2em auto 4em;
}
.consulting-text-img {
  width: 100%;
}
.consulting-text-img-container {
  display: inline-block;
  width: 50%;
}
.consulting-paragraph {
  font-size: 1.1em;
  max-width: 800px;
  margin: 2em auto;
}
.consulting-item-wrap {
  width: 44%;
  list-style: none;
  display: inline-block;
  padding-left: 0;
  padding-right: 2em;
  padding-top: 2em;
}
.consulting-item-subtitle {
  margin-bottom: 0;
  margin-top: 0;
}
.consulting-item-text {
  margin-top: 0;
}
.consulting-verysmall {
  font-size: 0.7em;
  padding-top: 2em;
}
.contacto-header {
  background-image: url("buenos-aires-aerea.jpg");
  background-size: cover;
  background-repeat: no background-repeat;
  text-align: center;
}
.contacto-header-title {
  color: #fff;
  font-size: 2.2em;
  padding: 3em 2em;
  margin: 0;
}
.contacto-form {
  background-color: #e6e6e6;
  border-radius: 3px;
  padding: 2em;
  width: 60%;
  margin: 50px 20px;
  display: inline-block;
}
.contacto-form-textarea {
  height: 8em;
  margin: 0.5em 0;
  border-radius: 6px;
  border: 0px;
  width: 100%;
  padding: 0;
}
.contacto-form-input {
  margin: 0.5em 0 1em;
  border-radius: 6px;
  border: 0px;
  width: 100%;
  padding: 0.6em 0;
}
.contacto-form-label {
  display: inline-block;
  width: 100%;
  margin: 0px;
  text-align: left;
}
.contacto-form-button {
  background-color: #ff191f;
  border-radius: 6px;
  color: #fff;
  padding: 1em;
  text-decoration: none;
  border: 0px;
  text-transform: uppercase;
  width: 100%;
  margin-top: 0.5em;
}
.contacto-form-button:hover {
  background-color: #bb181c;
}
.contacto-form-button > i{
  font-size: 15pt;
}

.contacto-info-formulario #contact-info{
  display: inline-block;
  vertical-align: top;
  margin: 50px 20px 0;
}

.contacto-info-formulario #contact-info ul{
  padding: 0;
  list-style: none;
}

.contacto-info-formulario #contact-info ul li > div,
.contacto-info-formulario #contact-info ul li > p{
  display: inline-block;
  vertical-align: top;
  margin: 5px;
}

.novedades {
  text-align: center;
}
.novedades-main-title {
  font-size: 1.6em;
  color: #9b9b9b;
  text-transform: uppercase;
  margin: 2em auto 0;
  width: 80%;
  text-align: left;
}
.novedades-main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem auto 2rem;
  width: 80%;
  text-align: left;
  font-size: 0;
}
.novedades-main-left,
.novedades-main-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  width: 49%;
  -webkit-box-flex: 0;
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
}
.novedades-main-left {
  margin-right: 1rem;
}
.novedades-main-item {
  display: inline-block;
  position: relative;
  margin: 0.5rem 0;
  width: 100%;
}
.novedades-main-item-tag {
  position: absolute;
  top: 0;
  color: #fff;
  left: 1.5rem;
  background: rgba(0,0,0,0.5);
  font-size: 0.9rem;
  padding: 0.2rem 0.6rem;
  font-weight: 400;
}
.novedades-main-item-copy {
  position: absolute;
  bottom: 1rem;
  color: #fff;
  max-width: 80%;
  left: 1.5rem;
}
.novedades-main-item-title {
  font-size: 1.4rem;
  margin-bottom: 0;
}
.novedades-main-item-date {
  font-weight: 400;
  font-size: 1rem;
  margin-top: 0.3rem;
}
.novedades-main-item-video-time {
  position: absolute;
  right: 1.5rem;
  background: rgba(0,0,0,0.5);
  color: #fff;
  bottom: 1rem;
  padding: 0.2rem 0.6rem;
}
.novedades-image {
  width: 100%;
}
.novedades-inside {
  width: 80%;
  margin: 0 auto 4em;
}
.novedades-inside-title {
  font-size: 1.6em;
  color: #9b9b9b;
  text-transform: uppercase;
  margin: 2em auto 1em;
  text-align: left;
}
.novedades-inside-article {
  display: inline-block;
  width: 65%;
  margin-right: 7%;
  color: #4a4a4a;
}
.novedades-inside-header-title {
  font-size: 2em;
  margin: 0;
}
.novedades-inside-header-subtitle {
  font-size: 1em;
  margin: 10px 0;
  color: #8a8a8a;
}
.novedades-inside-tag {
  background: #787878;
  color: #fff;
  display: inline-block;
  font-size: 0.9rem;
  padding: 0.2rem 0.6rem;
  font-weight: 400;
}
.novedades-inside-date {
  margin-top: 0.3em;
  margin-bottom: 1.5em;
}
.novedades-inside-img {
  width: 100%;
}
.novedades-inside-img-container {
  width: 100%;
  margin-bottom: 1.5em;
}
.novedades-aside {
  width: 27%;
  display: inline-block;
  vertical-align: top;
  color: #4a4a4a;
}
.novedades-aside-title {
  font-size: 1.5em;
}
.novedades-aside-item {
  border-bottom: 1px solid #c6c5c5;
}
.novedades-aside-item-wrap {
  border-left: 1px solid #c6c5c5;
  padding-left: 2em;
}
.novedades-aside-item-title {
  margin-bottom: 0;
}
.novedades-aside-item-title > a{color: #4a4a4a;}
.novedades-aside-item-date {
  margin-top: 0;
  font-size: 0.8em;
}
.footer {
  background: #6a6a6a;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3em 0;
  color: #fff;
  font-size: 0.8em;
}
.footer-column1 {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.footer .footer-column1:nth-child(3){
  text-align: right;
  padding-right: 4em;
}

.footer-column2 {
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  min-width: 180px;
}
.footer-list {
  list-style: none;
  padding: 0 0 0 4em;
  margin: 0;
  text-align: left;
}
.footer-item {
  padding: 0.5em;
}
.footer-item-icon {
  display: inline-block;
  vertical-align: top;
}
.footer-item-text {
  display: inline-block;
  margin: 0;
  padding-left: 0.5em;
}
.footer-img {
  width: 100%;
}
.footer-img-cuci {
  width: 200px;
}
.footer-copyright {
  background: #2d2d2d;
  color: #fff;
  padding: 0.02em 2em;
  font-size: 0.8em;
}
.show-menu {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #fff;
  background: #000;
  text-align: right;
  padding: 10px 10px;
  display: none;
  text-transform: uppercase;
}
.header-responsive-logo,
.header-responsive-phone {
  display: none;
}
input#show-menu[type=checkbox] {
  display: none;
}
input#show-menu[type=checkbox]:checked ~ #menu {
  display: block;
}
@media (max-width: 1183px) {
  .novedades-in,
  .novedades-videos,
  .novedades-title {
    text-align: center;
  }
}
@media (max-width: 1175px) {
  .tasaciones-form-group {
    display: block;
    width: 100%;
  }
  .photo-slider-propiedades-img {
    margin-top: -50px;
  }
}
@media (max-width: 1004px) {
  .consulting-text-img-container {
    padding-top: 5em;
    vertical-align: top;
  }
}
@media (max-width: 970px) {
  .consulting-text-img-container {
    display: none;
  }
  .consulting-item-wrap {
    width: 60%;
    margin: 0 auto;
    display: block;
  }
  .novedades-main {
    width: 95%;
  }
  .photo-slider-propiedades-img {
    margin-top: -10px;
  }
}
@media (max-width: 870px) {
  .novedades {
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .novedades-content {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
  .novedades-item {
    max-width: 350px;
  }
  .novedades-img-container {
    width: 350px;
    height: auto;
  }
  .novedades-video {
    height: 322.95px;
    width: 100%;
  }
  .novedades-title {
    text-align: left;
  }
  .novedades-in,
  .novedades-videos {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }
  .consulting-item-wrap,
  .consulting-text-wrap {
    width: 70%;
  }
}
@media (max-width: 845px) {
  .photo-slider{
    height: 400px;
  }
  .photo-slider-propiedades-img,
  .photo-slider-img {    
    height: 400px;
  }
  .photo-slider-slogan-title-propiedades{
    font-size: 5vw;
  }
  .buscador {
    top: 12em;
    width: 70%;
    overflow-x: hidden;
  }
  .buscador-select {
    display: block;
    width: 100%;
    margin-bottom: 0.5em;
  }
  .buscador-input {
    margin-bottom: 0.5em;
    width: 94.8%;
  }
  .buscador-button{
    width: 100%;
    text-align: center;
    display: block;
  }
  .empresa-mvv {
    padding: 0 1em;
  }
  .empresa-mvv-item {
    -webkit-flex-basis: 49%;
        -ms-flex-preferred-size: 49%;
            flex-basis: 49%;
  }
  .novedades-main-item-title {
    font-size: 1.2rem;
  }
  .tasaciones-form-left {
    display: block;
    width: 90%;
    margin: 0 auto;
  }
  .tasaciones-form-group-input {
    width: 98%;
  }
}
@media (max-width: 750px) {
  #menu {
    position: static;
    display: none;
  }
  .show-menu {
    display: block;
  }
  .header-responsive-logo {
    display: block;
    position: absolute;
    z-index: 100;
    top: 0;
    width: 80px;
    margin: 5px;
  }
  .header-logo-container {
    display: none;
  }
  .header-list {
    padding: 1em 0;
    text-align: center;
  }
  .header-list-item {
    margin: 5px 0;
    display: block;
    text-align: center;
    height: 44px;
  }
  .header-list-item:last-child {
    display: none;
  }
  .header-responsive-phone {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 35%;
    text-align: center;
    margin: 10px 0 0;
  }
  .features-main-copy {
    padding: 0 2em;
  }
  .footer-list {
    padding: 0;
  }
  .tasaciones-form-button {
    font-size: 0.8em;
  }
  .novedades-main {
    display: block;
  }
  .novedades-main-left,
  .novedades-main-right {
    width: 100%;
  }
  .novedades-aside {
    display: none;
  }
  .novedades-inside-article {
    width: 100%;
    margin: 0 auto;
  }
  .ficha-header {
    margin: 3em 2em 1.5em;
    position: relative;
  }
  .ficha-slider-wrap {
    margin: 0 2em;
  }
  .ficha-acciones {
    right: 2em;
  }
  .ficha-descripcion,
  .ficha-caracteristicas,
  .ficha-planos {
    padding: 0 2em;
  }
  .ficha-tags {
    margin-left: 2em;
  }
  .ficha-tags-icon {
    margin-bottom: 0.5em;
  }
}
@media (max-width: 750px) {
  .photo-slider-propiedades-img {
    margin-top: -20px;
  }
  .photo-slider-propiedades-img,
  .photo-slider-img {
    width: 120%;
  }
  .slider {
    overflow-x: hidden;
  }
}
@media (max-width: 700px) {
  .ficha-contacto-wrap {
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    height: auto;
  }
  .ficha-contacto-form {
    display: block;
    width: 100%;
  }
  .ficha-mapa {
    width: 100%;
    margin-left: 0;
    display: block;
  }
  .contacto-form{
    width: 70%;
    margin: 50px auto;
    display: block;
  }
  .contacto-info-formulario #contact-info {
      display: block;
  }
  .contacto-info-formulario #contact-info ul {    
    width: 200px;
    margin: 0 auto 30px;
  }
}
@media (max-width: 610px) {
  .ficha-header-price {
    position: static;
    margin-top: -0.5em;
    margin-bottom: 0;
  }
  .ficha-header {
    margin-bottom: 0.5em;
    display: block;
  }
}
@media (max-width: 595px) {
  .photo-slider-propiedades-img {
    margin-top: 0;
  }
  .photo-slider-slogan-title {
    font-size: 1.5em;
  }
  .buscador {
    top: 10em;
  }
  .empresa-mvv-item {
    -webkit-flex-basis: 90%;
        -ms-flex-preferred-size: 90%;
            flex-basis: 90%;
    margin: 0 auto 1em;
  }
  .tasaciones {
    display: block;
  }
  .tasaciones-title-container,
  .tasaciones-form {
    display: block;
    margin: 0 auto;
  }
  .consulting-item-wrap,
  .consulting-text-wrap {
    width: 90%;
  }
  .footer {
    display: block;
  }
  .footer-column1,
  .footer-column2 {
    display: block;
    text-align: center;
    padding-right: 0 !important;
  }
  .footer-list {
    text-align: center;
  }
  .footer-img-cuci {
    margin: 0 auto;
  }
  .footer-img-qr {
    margin: 1em auto;
    width: 100%;
    text-align: center;
  }
  .ficha-slider {
    width: 100%;
  }
  .ficha-slider-wrap {
    margin: 0;
  }
  .ficha-acciones {
    position: static;
    text-align: center;
    margin: 0.5em auto;
  }
  .ficha-mapa,
  .ficha-contacto {
    display: block;
    width: 100%;
    margin-left: 0;
  }
  #map {
    height: 300px;
  }
}
@media (max-width: 555px) {
  .photo-slider-propiedades-img,
  .photo-slider-img {
    width: 150%;
    overflow-x: hidden;
  }
  .ficha-planos-img-container {
    width: 90%;
  }
}
@media (max-width: 500px) {
  .ficha-planos-box,
  .ficha-video-box {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
}
@media (max-width: 451px) {
  .photo-slider-propiedades-img,
  .photo-slider-img {
    width: 180%;
    overflow-x: hidden;
  }
  .photo-slider-slogan {
    padding: 0 1em;
  }
  .empresa-cover-title {
    padding: 2em;
  }
  .contacto-form {
    width: 80%;
    margin-top: 0;
  }
  .compartir-title {
    font-size: 1.2em;
  }
  .ficha-descripcion-copy,
  .ficha-caracteristicas-lists {
    padding: 0;
    margin: 1em 0 0;
    border: none;
  }
  .m-r-6em {
    margin: 0 !important;
  }
}
@media (max-width: 405px) {
  .destacadas-video-container,
  .destacadas-img-container {
    width: auto;
    overflow-x: hidden;
  }
  .destacadas-video {
    width: auto;
  }
  .destacadas-price {
    top: 40%;
  }
  .ficha-header-title {
    font-size: 1.5em;
  }
}
@media (max-width: 390px) {
  .photo-slider-slogan-title-propiedades {
    font-size: 2em;
    margin: 1em auto;
  }
  .photo-slider-propiedades-img,
  .photo-slider-img {
    width: 210%;
    overflow-x: hidden;
  }
  .novedades-item {
    overflow-x: hidden;
    max-width: 280px;
  }
  .novedades-img-container {
    width: 300px;
  }
}
@media (max-width: 375px) {
  .destacadas-video {
    width: 100%;
  }
}
@media (max-width: 335px) {
  .empresa-cover-title {
    padding: 1em;
  }
  .photo-slider-propiedades-img,
  .photo-slider-img {
    width: 250%;
    overflow-x: hidden;
  }
  .destacadas-price {
    top: 30%;
  }
}

.alert{
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
}

.alert-success{
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-danger{
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

::-webkit-input-placeholder {
  color: #5f5f5f;
}
:-moz-placeholder {
  color: #5f5f5f;
  opacity: 1;
}
::-moz-placeholder {
  color: #5f5f5f;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #5f5f5f;
}

.pac-logo:after { content: none !important;}

/* Property show modal */

.modal-body{
  padding: 0;
}

.send-to-friend-form{
  width: 100%;
}

.pagination > span{
  vertical-align: top;
}